# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.MeFacts.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\jmotl\RiderProjects\MeFacts\.idea\.idea.MeFacts\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
